<!DOCTYPE html>
<html lang="en">
<head>
    <title>Class List</title>
    <meta charset="utf-8" />
    <script src="/scripts/class/index.js"></script>
</head>
<body>
    <h2>Students in the School of EIE:</h2>
    <ol id="classList">
        <!-- The list of students will be loaded here -->
    </ol>
    <h3>Add a new student</h3>
    <form id="addStudentForm">
        <div>
            <label for="studentName">Enter the student's name:</label>
            <input type="text" id="studentName" name="student">
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
    <script src="/cdn/scripts/class/index.js"></script>
</body>
</html>

